{% extends "layout.html" %}

{% block content %}
<body>
    <h1>Studying: {{ deck.name }}</h1>
    <p>{{ current_index + 1 }} / {{ total }}</p>

    <div>
        {% if shuffle_enabled %}
        <a href="{{ url_for('study_deck', deck_id=deck.id, index=current_index, shuffle='false') }}">
            <button class="shuffle-on">Shuffle: ON</button>
        </a>
        {% else %}
        <a href="{{ url_for('study_deck', deck_id=deck.id, index=current_index, shuffle='true') }}">
            <button class="shuffle-off">Shuffle: OFF</button>
        </a>
        {% endif %}
    </div>

    <div class="flashcard" id="flashcard">
        <div class="card-inner">
            <div class="card-front">
                {{ card.front_text }}
            </div>
            <div class="card-back">
                {{ card.back_text }}
            </div>
        </div>
    </div>
    
    <script>
    document.getElementById("flashcard").addEventListener("click", () => {
        document.getElementById("flashcard").classList.toggle("flip");
    });
    </script>

    <div class="controls">
        <p>
        {% if current_index != 0 %}
            <a class="button" href="{{ url_for('study_deck', deck_id=deck.id, index=current_index - 1, shuffle=shuffle_enabled) }}">Previous Card</a>
        {% endif %}
            <a class="button" href="{{ url_for('study_deck', deck_id=deck.id, index=current_index + 1, shuffle=shuffle_enabled) }}">Next Card</a>
        </p>
    </div>

    <p style="margin-top:15px;">
        <a href="{{ url_for('deck_detail', deck_id=deck.id) }}">Back to Deck</a>
    </p>
</body>
{% endblock %}